@media (max-width: 100vw) {
  html,
  body {
    height: 100vh;
    width: 100vw;
    background-color: #6ca6c1;
  }
}
.header {
  display: flex;
  height: 90px;
  background-color: azure;
}
body {
  margin: 0;
  width: 100vw;
}

.Info a {
  text-decoration: none;
  color: royalblue;
  /* font-size: 50px;
    border: #090088 solid 2px;
    box-shadow: 5px 4px 10px black; */
}

.Logo {
  width: 170px;
  display: flex;
  height: 90px;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    /* position: absolute;  */
    flex-direction: column;
    position: relative;
  }
}

@media (max-width: 600px) {
  .names {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    flex-direction: column;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

}

.footer {
  display: flex;
  background-color: black;
}

.name {
  color: white;
}

.names {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
  flex-direction: row;
}

#questionBoxes {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}
.qb {
  width: 25%;
  border: 1px solid white;
  text-align: center;
  color: white;
}

.qbox {
  display: flex;
  width: 100%
  justify-content: space-evenly;
  
}


